<ul class="gwic-navigation__list">
  {{#each navitems}}
  <li class="gwic-navigation__list-item">
    <a href="{{url}}" class="gwic-navigation__link d-flex flex-column align-items-center">
      {{#with img}} 
      <span class="flex-grow-1">
        <span class="gwic-navigation__icon">
          {{{replace icon "002664" "f9be00"}}}
        </span>
        <span class="gwic-navigation__icon--hover">
          {{{ icon }}}
        </span>
      </span>
      {{/with}}
      <span class="gwic-navigation__link-text flex-shrink-1 text-white">{{text}}</span>
    </a>
  </li>
  {{/each}}
</ul>