---
title: GWIC Home
model:
  nav: ../../components/gwic-nav/gwic-nav.json
  content-nav: ../../components/gwic-content-nav/gwic-content-nav.json
  card-gwic-1: ../../components/card/json/card-gwic-1.json
  footer: ../../components/gwic-footer/json/footer.json
---

{{>_gwic-header content="#content" nav="#gwic-navigation"}}
{{>_gwic-nav model.nav}}

<div class="nsw-section--image nsw-section--no-padding mb-4" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
  <div style="background-color: rgba(0,0,0,0.6)">
    {{>_hero-transparent model.hero}}
  </div>
</div>

<main id="content">
  <section class="nsw-section--dark-80 mb-4">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-3">
              {{>_card model.card-gwic-1}}
            </div>
            <div class="nsw-col nsw-col-md-3">
              {{>_card model.card-gwic-1}}
            </div>
            <div class="nsw-col nsw-col-md-3">
              {{>_card model.card-gwic-1}}
            </div>
            <div class="nsw-col nsw-col-md-3">
              {{>_card model.card-gwic-1}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="nsw-section--image nsw-section--no-padding" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
    <div class="nsw-section" style="background-color: rgba(0,0,0,0.6)">
      <div class="nsw-container text-white">  
        {{>_gwic-content-nav model.content-nav backgroundColor=false responsiveCollapse=false}}
      </div>
    </div>
  </div>
</main>

{{>_gwic-footer model.footer}}
