<div class="hero-transparent nsw-container hero-transparent__content flex-grow-1 d-flex flex-column justify-content-between">
  {{#with borderSection}}
  <div class="border-2 border-white border-radius--tag">
    <div class="nsw-section">
      <div class="nsw-card__title nsw-p-bottom-xs">{{lead}}</div>
      {{{copy}}}
    </div>
  </div>
  {{/with}}
  
  <div class="nsw-section nsw-p-bottom-xxl flex-grow-1 d-flex flex-column justify-content-center">
    <h1>{{title}}</h1>
    {{{copy}}}
  </div>
</div>
