<div class="hero-transparent">
  <div class="nsw-container ">
    <div class="hero-transparent__content ">
      <h1 class="hero-transparent__title">{{title}}</h1>
      {{{copy}}}
    </div>
  </div>
</div>
