---
title: Hero transparent
model: json/hero-transparent.json
---

<div class="nsw-section--image nsw-section--no-padding" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
  {{>_hero-transparent model}}
</div>
