.border-1 {
  border-width: 1px;
  border-style: solid;
}

.border-2 {
  border-width: 2px;
  border-style: solid;
}

.border-3 {
  border-width: 3px;
  border-style: solid;
}

.border-white {
  border-color: $white;
}

.border-radius--tag {
  @include border-radius(tag);
}

.border-radius--round {
  @include border-radius(round);
}
