.navigation-open {
  overflow: hidden;
  
  @include breakpoint('lg') {
    overflow: visible;
  }
}

%gwic-nav-close {
  @include border-radius;
  width: rem(40px);
  height: rem(40px);
  background: none;
  border: 0;
  padding: 0;
  position: relative;
  right: rem(-10px);
  top: 0;
  text-align: center;

  &:hover {
    @include nsw-hover;
  }

  &:focus {
    @include nsw-focus;
  }

  .gwic-icon {
    height: rem(20px);
    width: rem(20px);
  }

  .nsw-material-icons {
    font-size: rem(34px);
  }
}

.gwic-navigation {
  @include z-index('middle');
  width: 100%;
  position: absolute;
  left: 0;
  background: $white;
  transition: map-get($transitions, base);
  transform: translateX(-100%);
  visibility: hidden;
  outline: none;
  overflow-y: auto;
  
  @include breakpoint('md') {  
    padding: 2rem 0;
  }    

  &.is-opening,
  &.is-open {
    transform: translateX(0);
    visibility: visible;
  }

  &.is-closing {
    transform: translateX(-100%);
  }

  &__close {
    @extend %gwic-nav-close;
  }

  &__link-text {
    flex: 1 1 auto;
    text-align: left;
    font-weight: bold;

    @include breakpoint('md') {  
      text-align: center;
    }    
  }

  &__subbtn {
    width: rem(52px);
    height: rem(52px);
    background: none;
    border: 0;
    padding: 0;
    text-align: center;
    border-left: solid 1px $light20;

    &:hover {
      @include nsw-hover;
    }

    &:focus {
      @include nsw-focus;
    }

    .nsw-icon {
      width: rem(16px);
      height: rem(16px);
    }

    @include breakpoint($desktop-breakpoint) {
      display: none;
    }
  }
}

%gwic-pl-navigation-list {
  @include container;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;

  @include breakpoint('md') {
    justify-content: center;
  }
}

.gwic-navigation__list,
.gwic-subnavigation__list {
  @extend %gwic-pl-navigation-list;
}

.gwic-navigation__list-item,
.gwic-subnavigation__list-item,
.gwic-subnavigation__title {
  // border-bottom: solid 1px $light20;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;

  @include breakpoint('md') {
    width: 20%;
  }
}

.gwic-navigation__list--items-wide,
.gwic-subnavigation__list--items-wide {
  .gwic-navigation__list-item,
  .gwic-subnavigation__list-item {
    width: 100%;
  
    @include breakpoint('md') {
      width: 25%;
    }
  }
}

.gwic-navigation__list-item,
.gwic-subnavigation__list-item {
  @include font-stack;
}

.gwic-navigation__link,
.gwic-subnavigation__link,
.gwic-subnavigation__title-link {
  flex: 1 1 100%;
  padding: 16px;
  color: $gwic-dark-blue;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  
  @include breakpoint('md') {
    align-items: stretch;
  }

  &:hover {
    // background-color: $gwic-yellow;
  }

  &:focus {
    @include nsw-focus($offset: false);
  }

  &.is-open {
    background-color: $white;
  }
}

.gwic-navigation__link-icon {
  line-height: rem(26px);
  position: relative;
  right: rem(-7px);

  &.nsw-icon {
    height: rem(16px);
    width: rem(16px);
    position: static;
    margin-top: rem(4px);
  }

  .gwic-navigation__link.is-open & {
    transform: rotate(270deg);
  }
}

.gwic-navigation--circle {
  height: 8rem;
  width: 8rem;
  border-radius: 4rem;
  background-color: $gwic-yellow;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.gwic-navigation__icon {
  display: none;
  position: relative;
  
  @include breakpoint('md') {  
    display: block;
    height: 3rem;
    margin: 3rem 0;
  }

  svg {
    height: 100%;
    z-index: 2;
    position: relative;
  }

  &--hover {
    display: none;
  }
}

.gwic-navigation__link:hover {
  .gwic-navigation__icon {
    display: none;
  }
  
  .gwic-navigation__icon--hover {
  
    @include breakpoint('md') {
      display: block;
    }
  }
}

.gwic-subnavigation {
  @include z-index;
  position: absolute;
  top: 0;
  background-color: $white;
  width: 100%;
  transition: map-get($transitions, base);
  transform: translateX(-100%);
  visibility: hidden;
  left: 0;
  height: 100%;
  overflow-y: auto;

  &.is-open {
    transform: translateX(0);
    visibility: visible;
  }
}

.gwic-navigation__header,
.gwic-subnavigation__header {
  @include nsw-spacing(padding-top, xs);
  @include nsw-spacing(padding-bottom, xs);
  @include container;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: solid 2px $nsw-primary-blue;

  @include breakpoint('md') {  
    border: 0;
  }

  h2 {
    @include font-stack('heading');
    @include nsw-spacing(margin, none);
    @include nsw-font-size('md');
    flex: 1 1 auto;
    align-self: center;
    color: $gwic-dark-blue;
    
    @include breakpoint('md') {  
      text-align: center;
    }    
  }
}

.gwic-subnavigation__back-btn {
  @include font-stack('heading');
  @include nsw-font-size('md');
  @include nsw-spacing(padding, none xs);
  @include border-radius;
  background: none;
  border: 0;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  position: relative;
  left: -8px;

  &:hover {
    @include nsw-hover;
  }

  &:focus {
    @include nsw-focus;
  }

  .nsw-icon {
    width: rem(16px);
    height: rem(16px);
    margin-right: rem(6px);
    align-self: center;
  }

  .nsw-material-icons {
    margin: 0 rem(-2px) 0 rem(-6px);
    align-self: center;
  }
}

.gwic-subnavigation__title {
  @include font-stack('heading');
  @include nsw-font-size('md');
  @include nsw-spacing(margin, none);

  .gwic-card__icon {
    margin: 0 0 0 rem(12px);
    position: relative;
    bottom: auto;
    left: auto;
    display: none;

    &.nsw-icon {
      top: rem(3);
      margin-left: rem(16px);
    }
  }
}

.gwic-subnavigation__description {
  @include font-stack;
  @include nsw-spacing(margin-top, md);
  @include nsw-font-size('xs');
  display: none;
}
