.split-col {
  // https://stackoverflow.com/questions/4098195/can-ordered-list-produce-result-that-looks-like-1-1-1-2-1-3-instead-of-just-1

  &__top-border::before {
    content: ' ';
    display: block;
    border-top: 2px solid $gwic-sky-blue;
  }
}
