ol.decilist {
  list-style-type: none;
  counter-reset: item 1 seconditem 0;
  margin: 0;
  padding: 0;
  
  > li {
    display: table;
    counter-increment: seconditem;
    margin-bottom: 0.6em;
  }
  
  > li::before {
    content: counter(item) '.' counter(seconditem);
    display: table-cell;
    width: 2rem;
  }
}
