---
title: Full width - Hero banner
model:
  nav: ../../components/gwic-nav/gwic-nav.json
  content-nav: ../../components/gwic-content-nav/gwic-content-nav.json
  hero: json/home.json
  breadcrumbs: ../../components/breadcrumbs/json/breadcrumbs.json
  card-gwic-1: ../../components/card/json/card-gwic-1.json
  card-media-1: ../../components/card/json/card-media-1.json
  card-media-2: ../../components/card/json/card-media-2.json
  card-media-3: ../../components/card/json/card-media-3.json
  card-simple-1: ../../components/card/json/card-simple-1.json
  card-simple-2: ../../components/card/json/card-simple-2.json
  card-simple-3: ../../components/card/json/card-simple-3.json
  card-simple-4: ../../components/card/json/card-simple-4.json
  card-news-1: ../../components/card/json/card-news-1.json
  card-news-2: ../../components/card/json/card-news-2.json
  card-news-3: ../../components/card/json/card-news-3.json
  footer: ../../components/gwic-footer/json/footer.json
---

{{>_gwic-header content="#content" nav="#gwic-navigation"}}
{{>_gwic-nav model.nav}}

<div class="nsw-section--image nsw-section--no-padding mb-4" style="background-image: url(https://picsum.photos/id/199/2000/1250);">
  <div style="background-color: rgba(0,0,0,0.6)">
    {{>_hero-transparent model.hero}}
  </div>
</div>

<main id="content">
  <section class="nsw-section--dark-80 mb-4">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-gwic-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-gwic-1}}
            </div>
            <div class="nsw-col nsw-col-md-4">
              {{>_card model.card-gwic-1}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{>_gwic-content-nav model.content-nav}}
</main>

{{>_gwic-footer model.footer}}
